#show-contact {
    display: none;
}

.contact {
    cursor: pointer;
    color: #0088cc;
}

.contact:hover {
    text-decoration: underline;
}

.buttons{
    text-align: center;
}
.button-add{
    text-align: center;
    margin-top: 3%;
}




